.c-center-rPhotos{
    width: 78%;
}
.c-center-wPhotos{
    width: 100%;
}

 

.centerFiles img{
    width: 180px;
    height: 180px;
}

.centerFiles a.a-1 {
    display: inline-block;
    width: 180px;
    margin-left: 15px;
    height: 180px;
    margin-bottom: 15px;
    float: left;

}

.centerFiles video {
    width: 765px;
    max-height: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
 
.ccc.c-center-r {
    width: 780px;
}

.centerFiles .showFilesundefined{
    width: 766px;
    padding-left: 15px;
}
.centerFiles .showFiles-c{
    width: auto;
}